<!DOCTYPE html>
<html>
<head>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
 
<!-- Navbar (sit on top) -->
<div style ="background-color: aquamarine;">
<div class="w3-top" style="background-color: rgb(81, 154, 154);">
  <div class="w3-bar w3-card" style="letter-spacing:0px;">
   <h4><b>GET YOUR MEETINGS SCHEDULED!!!!</b></h4>
    <!-- Right-sided navbar links. Hide them on small screens -->
    <div class="w3-right linkdiv">
        <a routerLink="">Home</a>&nbsp;&nbsp;
        <a routerLink="/regform">Register</a>&nbsp;&nbsp;
        <a routerLink="/schedule-meeting">Schedule</a>&nbsp;
    </div>
  </div>
</div>
</div> 
 
</body>
</html>