
h4{
    font-family: "Times New Roman";
  letter-spacing: 1px;
  margin-left: 10px;
  margin-top: 30px;
}

.linkdiv{
    margin-right: 30px;
    margin-top: -30px;
}

a{
    font-size: 20px;
    text-decoration: underline;
    text-decoration-style: solid;
    color: black;
}

