.background-img {  
    height: 738px; 
    width: 100%; 
    background-size: cover;  
    background-image: url(  
    "https://parade.com/.image/t_share/MTkwNTgxMjQ0MTgyMDEzMDUz/office-zoom-background.jpg");  
}  
  /* Add styles to the form container */
  .container {
    position: fixed;
    right: 0;
    margin-top: 80px;
    max-width: 300px;
    padding: 10px;
    
  }
  
  /* Full-width input fields */
  input[type=email], input[type=password] {
    width: 100%;
    padding: 15px;
    margin-left: -2px;
    border: none;
    background: #f1f1f1;
  }
  
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Set a style for the submit button */
  .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  
  .btn:hover {
    opacity: 1;
  }